@keyframes mapfront_spin {
	0% {
		background-position: 1400px 0%;
	}
	100% {
		background-position: 0 0%;
	}
}

@keyframes mapback_spin {
	0% {
		background-position: 0 0%;
	}
	100% {
		background-position: 1400px 0%;
	}
}

@-webkit-keyframes mapfront_spin {
	0% {
		background-position: 1400px 0%;
	}
	100% {
		background-position: 0 0%;
	}
}

@-webkit-keyframes mapback_spin {
	0% {
		background-position: 0 0%;
	}
	100% {
		background-position: 1400px 0%;
	}
}

.globo {
	width: 250px;
	height: 250px;
	position: relative;
	margin: 0 auto;
}

.frontal {
	width: 100%;
	height: 100%;
	/*background: url(http://1.bp.blogspot.com/-R7NM2HBq--Q/UesCwsosv3I/AAAAAAAAKrs/ZZm2CMlqVWs/s1600/1.png);*/
	background-size: 100% 100%;
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
}

.back {
	width: 100%;
	height: 100%;
	background: url(http://1.bp.blogspot.com/-Hke9nBhL3Gc/UesDBMdQypI/AAAAAAAAKr0/4d9J8v5i58o/s1600/2.png);
	background-size: 100% 100%;
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
}

.mapfront,
.mapback {
	border-radius: 300px;
  width: 85%;
  height: 85%;
	position: absolute;
	top: 18px;
	left: 18px;
	z-index: 4;
}


.mapfront {
	background: url(http://1.bp.blogspot.com/-M5AZ_16w8b4/UesDQ6r3miI/AAAAAAAAKr8/Sj0Tu25SgWA/s1600/3.png) repeat-x;
	/*-webkit-animation: mapback_spin 100s linear infinite;
	animation: mapback_spin 100s linear infinite;*/
 }
.mapback {
  background: url(http://2.bp.blogspot.com/-PEUhx5zxLcg/UesDeRIwkmI/AAAAAAAAKsE/XvusGF7_Omc/s1600/4.png) repeat-x;
  position: absolute;
  /*-webkit-animation: mapfront_spin 100s linear infinite;
  animation: mapfront_spin 100s linear infinite;*/
}

@media (min-width: 374px){
	.globo {
		width: 300px;
		height: 300px;
	}

	.mapfront,
	.mapback {
    top: 22px;
    left: 22px;
	}
}

@media (min-width: 767px){
	.globo {
		width: 345px;
		height: 345px;
	}
}

@media (min-width: 1023px){
	.globo {
		width: 460px;
		height: 460px;
	}

	.mapfront,
	.mapback {	
		top: 34px;
    left: 34px;
  }
}
@media (min-width: 1439px){
	.globo {
		width: 570px;
		height: 570px;
	}

	.mapfront,
	.mapback {	
		top: 42px;
    left: 42px;
  }
}