.container-portfolio {
	/*background: url("../img/bg/bg3.jpg") fixed; //Imagen de fondo*/
	position: relative;
	margin: 0 auto;
	background-size: cover; //ajusta el fondo a la imagen
}

.box-portfolio {
	position: relative;
	height: 100px;
}

.box-portfolio>img {
	position: relative;
	max-width: 100%;
	width: 100%;
	max-height: 100%;
}

.text-box-portfolio {
	position: absolute;
	top: 30%;
	background: rgba(255, 255, 255, 0.6);
	width: 100%;
	max-width: 100%;
	word-wrap: break-word;
}

.modal-content {
	background-color: #F5F4F4;
}

.workers>img {
	max-width: 55px;
}

@media (min-width: 768px) {
	.box-portfolio {
		height: 100%;
	}
	.text-box-portfolio {
		top: 40%;
	}
	.img-modal {
		float: left;
		max-width: 40%;
		margin-right: 2%;
	}
	.workers {
		float: right;
		max-width: 60%;
		margin-left: 10%;
	}
}
