/*	1024 to 1439 	*/

@media screen and (min-width: 1024px) {
	/* HOME */
	#home h3 {
		font-size: 27px;
	}
	#home p {
		font-size: 13.4px;
	}
	.row-text {
		height: 85%
	}
	.btn-home {
		height: 40px;
		padding: 5px;
	}
	.btn-home h5 {
		font-family: 'Roboto Slab', sans-serif;
		font-size: 26px;
	}
	/* PORTFOLIO */
	#portfolio h1 {
		font-size: 26px;
	}
	#portfolio p {
		font-size: 13.4;
	}
	.box-portfolio {
		height: 310px;
	}
	.text-box-portfolio {
		height: 70px;
		padding: 20px;
	}
	.box-portfolio>img {
		height: 100%;
	}
	/* CONTACT */
	#input-text-name,
	#input-text-email,
	#input-text-asunto {
		height: 33px;
		font-family: 'Ubuntu', sans-serif;
		font-size: 10px;
	}
	#input-text-message {
		height: 86px;
		font-family: 'Ubuntu', sans-serif;
		font-size: 10px;
	}
}


/*	>= 1440 	*/

@media screen and (min-width: 1440px) {
	/* HOME */
	#home h3 {
		font-size: 56px;
	}
	#home p {
		font-size: 15.5px;
	}
	.row-text {
		height: 85%
	}
	.btn-home {
		height: 60px;
		padding: 5px;
	}
	.btn-home h5 {
		font-family: 'Roboto Slab', sans-serif;
		font-size: 37px;
	}
	/* PORTFOLIO */
	#portfolio {
		padding: 30px 0;
	}
	#portfolio h1 {
		font-size: 38px;
	}
	#portfolio p {
		font-size: 15.5;
	}
	.box-portfolio {
		height: 310px;
	}
	.text-box-portfolio {
		height: 70px;
		padding: 15px;
	}
	.box-portfolio>img {
		height: 100%;
	}
	/* CONTACT */
	#contact {
		padding: 30px 0;
	}
	#input-text-name,
	#input-text-email,
	#input-text-asunto {
		height: 46px;
		font-family: 'Ubuntu', sans-serif;
		font-size: 10px;
	}
	#input-text-message {
		height: 122px;
		font-family: 'Ubuntu', sans-serif;
		font-size: 10px;
	}
}
