/* Azul: #0275D8 Verde: #5CB85C Celeste: #5BC0DE Amarillo: #F0AD4E Rojo: #292B2C Default: #F7F7F7 */

body {
	background-color: #F7F7F7;
	padding-top: 70px;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

nav {
	background-color: #F7F7F7;
}

.navbar-brand {
	height: 70px;
	padding: 0px;
}

.navbar-brand>img {
	padding: 5px 0;
	width: auto;
}

.nav>li>a {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.nav>li>a:hover {
	background-color: #5CB85C;
	color: #F7F7F7;
	text-shadow: 1px 1px #000000;
}

.icon-bar {
	border: 1px solid #0275D8;
}

.container-home {
	background-image: url(../img/bg-home.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.home {
	margin-top: 100px;
	margin-bottom: 100px;
}

.text-title-home {
	text-shadow: -5px 3px 0 #F7F7F7;
}

.text-home {
	text-shadow: -2px 2px 0 #F7F7F7;
}

.btn-home {
	margin: 12px 0;
	background-color: #F7F7F7;
	border: 1px solid #CCCCCC;
}

.btn-home:hover {
	background-color: #CCCCCC;
}

.bg-blue {
	background-color: #0275D8;
}

.globo {
	margin: 0 auto;
}

.btn-service {
	background-color: #F7F7F7;
	border: 1px solid #CCCCCC;
	box-shadow: 5px 5px #CCCCCC;
}

.btn-service:hover {
	background-color: #CCCCCC;
}

.icon-service {
	width: 0 auto;
}
