/* General */

body {
	background-color: #F5F4F4;
	padding-top: 70px;
}


/* NAVBAR */

nav {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
	width: 100%;
	background: transparent;
	height: 70px;
}

/* NAVBAR */
.navbar-brand {
  padding-top: 6px;
  padding-bottom: 6px;
}

nav img {
	height: 58px;
}

.bg-navbar {
	background-color: #F5F4F4;
	width: auto;
	height: 70px;
	z-index: 999;
	box-shadow: 3px 2px 2px #000;
}

.navbar-inverse .navbar-nav .nav-link {
	color: #fff;
	font-size: 12px;
}

.navbar-inverse .navbar-nav .nav-link:hover,
.navbar-inverse .navbar-nav .nav-link:focus {
	color: #273638;
	outline-color: transparent;
}

nav .container-navbar {
	height: 70px;
}

ul.nav {
	margin-top: 8px;
	margin-bottom: 8px;
}

a.nav-link {
	padding-left: 5px;
	padding-right: 5px;
	font-family: 'Roboto Slab', serif;
}

li.nav-item {
	padding-left: 5px;
	padding-right: 5px;
	border-right: 1px solid #1D70B7;
}

.navbar-toggler {
	background-color: #1D70B7;
	border: 0;
	margin-top: 15px;
}

.nav-toggler-icon {
	background-color: #F5F4F4;
}

.navbar-toggler {
	padding: 0px;
}

.navbar-inverse .navbar-toggler {
	width: 40px;
	height: 40px;
}


/* NAVBAR MOVIL */
@media (max-width: 767px) {
	.container {
		width: auto;
	}
	.navbar-brand {
		margin-left: 30px;
	}
	li.nav-item {
		border: 0;
	}
	.navbar-inverse .navbar-nav a.nav-link.no-border {
		border-bottom: 0px;
	}
	.navbar-inverse .navbar-nav a.nav-link {
		margin: 0 15px;
		border-bottom: 1px solid white;
		padding-left: 10px;
		text-transform: uppercase;
	}
	.navbar-inverse .navbar-nav .nav-item {
		background-color: #1D70B7;
	}
	.navbar-inverse .navbar-nav .nav-item:hover {
		background-color: #3AA935;
		color: #F5F4F4;
	}
	.navbar-collapse {
		margin: 4px 15px;
	}
}

@media (min-width: 768px){
	body {
		padding-top: 77px;
	}

	nav {
		height: 77px;
	}

	.bg-navbar {
		height: 77px;
	}

	nav .container-navbar{
		height: 77px;
	}

	.navbar-inverse .navbar-nav .nav-link {
		color: #273638;
		font-size: 12px;
	}

	.navbar-inverse .navbar-nav .nav-link:hover, .navbar-inverse .navbar-nav .nav-link:focus {
		color: #1D70B7;
	}
	nav img{
		height: 50px;
	}
	.navbar-brand {
	  padding-top: 13.5px;
	  padding-bottom: 13.5px;
	}
}

@media (min-width: 1440px){
	.navbar-inverse .navbar-nav .nav-link {
		font-size: 14px;
	}	
}

/* HOME */

#home {
	background: url("../img/bg/bg1.jpg") fixed; //Imagen de fondo
	position: relative;
	margin: 0 auto;
	padding-bottom: 0;
	background-size: cover; //ajusta el fondo a la imagen
}

#home .container {
	height: 100%;
}

#home h3 {
	padding-top: 20px;
	font-family: 'Roboto Slab', sans-serif;
	color: #273638;
	font-size: 21px;
}

#home p {
	font-family: 'Ubuntu', sans-serif;
	color: #273638;
	font-size: 12.4px;
}

.row-text {
	height: 75%
}

.btn-home {
	background-color: #F5F4F4;
	color: #273638;
	height: 30px;
	box-shadow: 3px 3px 2px #000000;
	padding: 5px;
}

.btn-home h5 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 19px;
	margin: 0;
	vertical-align: middle;
}

.btn-home:hover {
	background-color: #273638;
	color: #F5F4F4;
}

/* CONTACT */

#contact {
	padding: 5%;
}


/* PORTFOLIO */

#portfolio {
	padding: 5%;
}

.container-portfolio {
	background: url("../img/bg/bg3.1.jpg") fixed; //Imagen de fondo*/
	position: relative;
	margin: 0 auto;
	background-size: cover; //ajusta el fondo a la imagen
}

.box-portfolio {
	position: relative;
	height: 100px;
	box-shadow: 2px 2px 10px #000;
}

.box-portfolio>img {
	position: relative;
	max-width: 100%;
	width: 100%;
	max-height: 100%;
}

.text-box-portfolio {
	position: absolute;
	top: 30%;
	background: rgba(255, 255, 255, 0.6);
	width: 100%;
	max-width: 100%;
	word-wrap: break-word;
}

.modal-content {
	background-color: #F5F4F4;
}

.workers>img {
	max-width: 55px;
}

@media (min-width: 768px) {
	.box-portfolio {
		height: 100%;
	}
	.text-box-portfolio {
		top: 40%;
	}
	.img-modal {
		max-width: 40%;
		margin-right: 2%;
	}
}


/*footer*/

footer a {
	color: #000;
	cursor: pointer;
}

footer a:hover {
	color: #000;
}


/* Social Bar */

.social {
	position: fixed;
	/* Barra Fija */
	right: 0;
	/* Alineada a la Derecha */
	top: 200px;
	/* Posicion Vertical */
	z-index: 2000;
	/* No superposicion de elementos */
	margin: 0;
	padding: 0;
}

.social ul {
	list-style: none;
}

.social ul li {
	text-align: center;
}

.social ul li a {
	display: inline-block;
	color: #F5F4F4;
	padding: 5px 0;
	text-decoration: none;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.social ul li a:hover {
	background: #000;
}

.social-icon {
	background: #3AA935;
	margin-top: 5px;
}

.social ul li .social-chat,
.social ul li .social-testimonio {
	background: #1D70B7;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	text-align: center;
}

#chat-popover,
#testimonio-popover {
	background-color: #1D70B7;
	color: #F5F4F4;
	border: 0px;
	cursor: pointer;
}

#chat-popover:hover,
#testimonio-popover:hover {
	background-color: #000000;
}

.popover {
	max-width: 40%;
	background: #F5F4F4;
	color: #273638;
}

.content-chat {
	background: #DADBDC;
	height: 100px;
}

.input-chat {
	margin-top: 10px;
}

.chat {
	background: #DADBDC;
	padding: 10px;
}


/* Go to Top */

#go-top .fa {
	position: fixed;
	bottom: 5px;
	right: 5px;
	width: 50px;
	height: 50px;
	color: #273638;
	font-size: 30px;
	background: transparent;
	text-align: center;
	line-height: 42px;
	margin: 0 20px 20px;
}

#go-top .fa:hover {
	background: transparent;
	color: #F5F4F4;
	text-shadow: 3px 3px 10px #000000;
}
