/* General */

body {
	background-color: #F5F4F4;
	padding-top: 65px;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}


/* NAVBAR */

nav {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
	width: 100%;
	background: transparent;
	height: 65px;
}


/* NAVBAR */

.navbar-brand {
	padding-top: 15px;
	padding-bottom: 15px;
}

nav img {
	height: 40px;
}

.bg-navbar {
	background-color: #F5F4F4;
	width: auto;
	height: 65px;
	z-index: 1000;
	box-shadow: 3px 3px 2px #A3A3A3;
}

.navbar-inverse .navbar-nav .nav-link {
	color: #fff;
	font-size: 12px;
}

.navbar-inverse .navbar-nav .nav-link:hover,
.navbar-inverse .navbar-nav .nav-link:focus {
	color: #273638;
	outline-color: transparent;
}

nav .container-navbar {
	height: 65px;
}

ul.nav {
	margin-top: 8px;
	margin-bottom: 8px;
}

a.nav-link {
	padding-left: 5px;
	padding-right: 5px;
	font-family: 'Roboto Slab', serif;
}

li.nav-item {
	padding-left: 5px;
	padding-right: 5px;
	border-right: 1px solid #1D70B7;
}

.navbar-toggler {
	background-color: #1D70B7;
	border: 0;
	margin-top: 15px;
}

.nav-toggler-icon {
	background-color: #F5F4F4;
}

.navbar-toggler {
	padding: 0px;
}

.navbar-inverse .navbar-toggler {
	width: 40px;
	height: 40px;
}


/* NAVBAR MOVIL */

@media (max-width: 767px) {
	.container {
		width: auto;
	}
	.navbar-brand {
		margin-left: 15px;
	}
	li.nav-item {
		border: 0;
	}
	.navbar-inverse .navbar-nav a.nav-link.no-border {
		border-bottom: 0px;
	}
	.navbar-inverse .navbar-nav a.nav-link {
		margin: 0 15px;
		border-bottom: 1px solid white;
		padding-left: 10px;
		text-transform: uppercase;
	}
	.navbar-inverse .navbar-nav .nav-item {
		background-color: #1D70B7;
	}
	.navbar-inverse .navbar-nav .nav-item:hover {
		background-color: #3AA935;
		color: #F5F4F4;
	}
	.navbar-collapse {
		margin: 4px 15px;
	}
}

@media (min-width: 768px) {
	body {
		padding-top: 65px;
	}
	nav {
		height: 65px;
	}
	.bg-navbar {
		height: 65px;
	}
	nav .container-navbar {
		height: 65px;
	}
	.navbar-inverse .navbar-nav .nav-link {
		color: #273638;
		font-size: 14px;
	}
	.navbar-inverse .navbar-nav .nav-link:hover,
	.navbar-inverse .navbar-nav .nav-link:focus {
		color: #1D70B7;
	}
	nav img {
		height: 50px;
	}
	.navbar-brand {
		padding-top: 13.5px;
		padding-bottom: 13.5px;
	}
}

@media (min-width: 1440px) {
	.navbar-inverse .navbar-nav .nav-link {
		font-size: 14px;
	}
}


/* HOME */

video {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: -1000;
	background-size: cover;
}

#home {
	background-color: rgba(0, 0, 0, 0.5);
	/*background: url("../img/bg/bg1.jpg") fixed;
	position: relative;
	margin: 0 auto;
	padding-bottom: 0;
	background-size: cover;*/
}

@media (max-width: 767px) {
	#home {
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url("../img/bg/bg-cafe.png");
		position: relative;
		margin: 0 auto;
		padding-bottom: 0;
		background-size: cover;
		background-position: center center;
	}
}

#home li {
	color: #FFFFFF;
}

#home {
	padding: 20px 0;
}

#home .container {
	height: 100%;
}

#home h3 {
	padding-top: 27px;
	font-family: 'Roboto Slab', sans-serif;
	color: #fff;
	font-size: 21px;
}

#home h3#subh3 {
	font-family: 'Roboto Slab', sans-serif;
	color: #fff;
	font-size: 18px;
}

#home p#subhome {
	padding-top: 27px;
	font-family: 'Roboto Slab', sans-serif;
	color: #fff;
	font-size: 12px;
}

#home p {
	font-family: 'Roboto Slab', sans-serif;
	color: #fff;
	font-size: 15px;
}

.row-text {
	height: 85%
}

.btn-home {
	background-color: #F5F4F4;
	color: #273638;
	height: 30px;
	box-shadow: 3px 3px 2px #A3A3A3;
	padding: 5px;
}

.btn-home h5 {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 19px;
	margin: 0;
	vertical-align: middle;
}

.btn-home:hover {
	background-color: #273638;
	color: #F5F4F4;
}


/* US */


/* SERVICE */


/* PORTFOLIO */


/* CONTACT */


/*footer*/


/* Social Bar */


/* Social Bar Chat */


/*
#chat {
	background-color: #F5F4F4;
	border: 2px solid #273638;
	position: fixed;
	top: 200px;
	right: -100%;
	z-index: 2000;
	width: 25%;
	height: auto;
	padding: 10px;
	box-shadow: 3px 3px 2px #A3A3A3;
}

.chat-box {
	width: 100½;
	height: 200px;
	border: 1px solid #273638;
}
*/


/* Social Bar testimonio */


/* Go to Top */
