<!-- Chat -->
<div id="chat">
  <div class="row">
    <div class="col-12">
      <form>
        <div class="row">
          <div class="col-12">
            <p>Welcome, <strong>Usuario</strong></p>
            <hr class="no-margin no-padding">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="chat-box"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Mensaje">
              <div class="input-group-btn">
                <button class="btn btn-secondary btn-submit-chat btn-block" type="submit">Send</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>