<!-- Footer -->
<footer id="footer" class="container-fluid">
  <section class="container pb-3 pt-3 ">
    <div class="row">
      <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-start flex-md-row text-center flex-last flex-md-first mt-3">
        <small>
      &copy; 2017 Naus Technologies, All rigths reserved      
    </small>
      </div>
      <div class="wow fadeInDownBig col-12 col-md-4 d-flex justify-content-center flex-first">
        <img class="logo-footer" src="img/logo/logo-mobile.png" alt="Logo Naus">
      </div>
      <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-start flex-md-row-reverse mt-3">
        <a href="#"><i class="fa fa-2x fa-instagram px-2" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-2x fa-facebook px-2" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-2x fa-whatsapp px-2" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-2x fa-google-plus px-2" aria-hidden="true"></i></a>
      </div>
    </div>
  </section>
</footer>
<!-- End Footer -->