<!-- Home -->
<section id="home" class="container-fluid">
  <div id="videoHome" data-section-name="home" class="scroll-act hidden-sm-down">
    <div id="video" class="pre-height">
      <video autoplay loop muted preload="metadata" id="background">
        <source src="video/cafe.mp4" type="video/mp4">
      </video>
    </div>
  </div>
  <div class="container">
    <div class="row-text" id="content-home">
      <div class="row">
        <div class="col-12">
          <div id="carouselHome" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators carousel-indicators-home">
              <li data-target="#carouselHome" data-slide-to="0" class="active"></li>
              <li data-target="#carouselHome" data-slide-to="1"></li>
              <li data-target="#carouselHome" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox" id="carousel-inner-home">
              <div class="carousel-item active">
                <h3 class="text-center">CONSTRUYE <br> tu sitio web, <br> CONSTRUYE <br> tu sueño</h3>
              </div>
              <div class="carousel-item">
                <h3 class="text-center" id="subh3">Software en base <br> a sus OBJETIVOS <br> y NECESIDADES</h3>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-12">
                    <p id="subhome">Somos especialistas en:</p>
                  </div>
                  <div class="col-12">
                    <ul>
                      <li>
                        <p class="no-padding no-margin">Diseño web</p>
                      </li>
                      <li>
                        <p class="no-padding no-margin">Diseño de paginas web</p>
                      </li>
                      <li>
                        <p class="no-padding no-margin">Posicionamiento</p>
                      </li>
                      <li>
                        <p class="no-padding no-margin">Sistemas</p>
                      </li>
                      <li>
                        <p class="no-padding no-margin">Aplicaciones Móviles</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 mb-3">
        <a class="btn btn-home btn-block" role="button" href="#contact" data-scroll>
          <h5>Contacto</h5>
        </a>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <a class="btn btn-home btn-block" role="button" href="#contact" data-scroll>
          <h5>Cotización</h5>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- End Home -->