<!-- Portfolio -->
<section id="portfolio" class="container-fluid container-portfolio">
  <div class="container">
    <h3>PORTAFOLIO</h3>
    <div class="row">
      <div class="col-md mt-4" data-toggle="modal" data-target="#modal-portfolio-1">
        <div class="wow flipInX box-portfolio">
          <img src="img/portfolio/1.jpg" class="hidden-sm-down">
          <img src="img/portfolio/mb1.png" class="hidden-md-up">
        </div>
        <div id="modal-portfolio-1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="modal-title" id="myModalLabel"><img class="logo-modal" src="img/logo/logo.png" alt="Naus"></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <a class="text-center" href="http://www.remindermillie.com/" target="_blank">
                  <h1 class="title-modal">http://www.remindermillie.com/</h1>
                </a>
                <img class="img-fluid" src="img/portfolio/web1.png" alt="remindermillie">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md mt-4" data-toggle="modal" data-target="#modal-portfolio-2">
        <div class="wow flipInX box-portfolio">
          <img src="img/portfolio/2.jpg" class="hidden-sm-down">
          <img src="img/portfolio/mb2.png" class="hidden-md-up">
        </div>
        <div id="modal-portfolio-2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="modal-title" id="myModalLabel"><img class="logo-modal" src="img/logo/logo.png" alt="Naus"></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <a class="text-center" href="http://www.performerstuff.com/" target="_blank">
                  <h1 class="title-modal">http://www.performerstuff.com/</h1>
                </a>
                <img class="img-fluid" src="img/portfolio/web2.png" alt="performerstuff">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md mt-4" data-toggle="modal" data-target="#modal-portfolio-3">
        <div class="wow flipInX box-portfolio">
          <img src="img/portfolio/3.jpg" class="hidden-sm-down">
          <img src="img/portfolio/mb3.png" class="hidden-md-up">
        </div>
        <div id="modal-portfolio-3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="modal-title" id="myModalLabel"><img class="logo-modal" src="img/logo/logo.png" alt="Naus"></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <a class="text-center" href="http://www.statmarkgroup.com/" target="_blank">
                  <h1 class="title-modal">http://www.statmarkgroup.com/</h1>
                </a>
                <img class="img-fluid" src="img/portfolio/web3.png" alt="statmarkgroup">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md mt-4" data-toggle="modal" data-target="#modal-portfolio-4">
        <div class="wow flipInX box-portfolio">
          <img src="img/portfolio/4.png" class="hidden-sm-down">
          <img src="img/portfolio/mb4.png" class="hidden-md-up">
        </div>
        <div id="modal-portfolio-4" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="modal-title" id="myModalLabel"><img class="logo-modal" src="img/logo/logo.png" alt="Naus"></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <a class="text-center" href="http://www.superfanatico.com/" target="_blank">
                  <h1 class="title-modal">http://www.superfanatico.com/</h1>
                </a>
                <img class="img-fluid" src="img/portfolio/web4.png" alt="superfanatico">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md mt-4" data-toggle="modal" data-target="#modal-portfolio-5">
        <div class="wow flipInX box-portfolio">
          <img src="img/portfolio/5.png" class="hidden-sm-down">
          <img src="img/portfolio/mb5.png" class="hidden-md-up">
        </div>
        <div id="modal-portfolio-5" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="modal-title" id="myModalLabel"><img class="logo-modal" src="img/logo/logo.png" alt="Naus"></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <a class="text-center" href="http://lacomensal.com/" target="_blank">
                  <h1 class="title-modal">http://lacomensal.com/</h1>
                </a>
                <img class="img-fluid" src="img/portfolio/web5.png" alt="la comensal">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md mt-4" data-toggle="modal" data-target="#modal-portfolio-6">
        <div class="wow flipInX box-portfolio">
          <img src="img/portfolio/6.png" class="hidden-sm-down">
          <img src="img/portfolio/mb6.png" class="hidden-md-up">
        </div>
        <div id="modal-portfolio-6" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="modal-title" id="myModalLabel"><img class="logo-modal" src="img/logo/logo.png" alt="Naus"></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <a class="text-center" href="http://ideas.estanciadoradapanama.net/proyecto/" target="_blank">
                  <h1 class="title-modal">http://ideas.estanciadoradapanama.net/proyecto/</h1>
                </a>
                <img class="img-fluid" src="img/portfolio/web6.png" alt="estancia dorada">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Porfolio -->