<!-- Service -->
<section id="service" class="container-fluid" style=" background-color: #f5f4f4;">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h3>SERVICIOS</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex align-items-top">
        <div class="globo">
          <div class="frontal"></div>
          <div class="mapfront"></div>
          <div class="mapback"></div>
          <div class="back"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div id="serviceAccordion" role="tablist" aria-multiselectable="true" class="hidden-md-up">
          <div class="wow fadeInLeft card">
            <a role="tab" id="headingOne" class="collapsed card-header link-services" data-toggle="collapse" data-parent="#serviceAccordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <img class="float-left" src="img/service/software_development.png" alt="Desarrollo de Software">
              <h2 class="mt-3 text-center">
                Desarrollo de software
              </h2>
            </a>
            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <p class="card-text">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </p>
              </div>
            </div>
          </div>
          <div class="wow fadeInRight card">
            <a role="tab" id="headingTwo" class="collapsed card-header link-services" data-toggle="collapse" data-parent="#serviceAccordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <img class="float-left" src="img/service/apps.png" alt="Aplicaciones Moviles">
              <h2 class="mt-3 text-center">
                Aplicaciones Moviles
              </h2>
            </a>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="card-block">
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum fugiat quod numquam, quaerat deleniti expedita, architecto aspernatur iusto, quos unde, assumenda sequi illum! Deleniti, laborum laboriosam qui in at, neque!
                </p>
              </div>
            </div>
          </div>
          <div class="wow fadeInLeft card">
            <a role="tab" id="headingThree" class="collapsed card-header link-services" data-toggle="collapse" data-parent="#serviceAccordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <img class="float-left" src="img/service/staffing.png" alt="Staffing">
              <h2 class="mt-3 text-center">
                Staffing
              </h2>
            </a>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="card-block">
                <p class="card-text">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </p>
              </div>
            </div>
          </div>
          <div class="wow fadeInRight card">
            <a role="tab" id="headingFour" class="card-header collapsed link-services" data-toggle="collapse" data-parent="#serviceAccordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <img class="float-left" src="img/service/projects.png" alt="Reestructuración de Proyectos">
              <h2 class="mt-3 text-center">
                Reestructuración de Proyectos
              </h2>
            </a>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="card-block">
                <p class="card-text">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </p>
              </div>
            </div>
          </div>
          <div class="wow fadeInLeft card">
            <a role="tab" id="headingFive" class="card-header collapsed link-services" data-toggle="collapse" data-parent="#serviceAccordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <img class="float-left" src="img/service/nearshore.png" alt="Nearshore">
              <h2 class="mt-3 text-center">
                Nearshore
              </h2>
            </a>
            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="card-block">
                <p class="card-text">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </p>
              </div>
            </div>
          </div>
          <div class="wow fadeInRight card">
            <a role="tab" id="headingSix" class="card-header collapsed link-services" data-toggle="collapse" data-parent="#serviceAccordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              <img class="float-left" src="img/service/marketing-digital.png" alt="Marketing Digital">
              <h2 class="mt-3 text-center">
                Marketing Digital
              </h2>
            </a>
            <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
              <div class="card-block">
                <p class="card-text">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="center middle wrap hidden-sm-down">
          <section class="row mt-3">
            <article class="col-md-6">
              <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                  <div class="card front-flip">
                    <img class="card-img-top" src="img/service/software_development.png" alt="Aplicaciones Moviles">
                    <div class="card-block">
                      <h2 class="card-title text-center">Desarrollo de Software</h2>
                    </div>
                  </div>
                  <div class="card back-flip">
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus mollitia, libero est. Distinctio modi totam, delectus ipsa saepe obcaecati nesciunt molestiae reiciendis. Amet officia nisi saepe, autem expedita minus nobis.</p>
                  </div>
                </div>
              </div>
            </article>
            <article class="col-md-6">
              <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                  <div class="card front-flip">
                    <img class="card-img-top" src="img/service/apps.png" alt="Aplicaciones Moviles">
                    <div class="card-block">
                      <h2 class="card-title text-center">Aplicaciones Moviles</h2>
                    </div>
                  </div>
                  <div class="card back-flip">
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus mollitia, libero est. Distinctio modi totam, delectus ipsa saepe obcaecati nesciunt molestiae reiciendis. Amet officia nisi saepe, autem expedita minus nobis.</p>
                  </div>
                </div>
              </div>
            </article>
          </section>
          <section class="row mt-3">
            <article class="col-md-6">
              <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                  <div class="card front-flip">
                    <img class="card-img-top" src="img/service/staffing.png" alt="Aplicaciones Moviles">
                    <div class="card-block">
                      <h2 class="card-title text-center">Staffing</h2>
                    </div>
                  </div>
                  <div class="card back-flip">
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus mollitia, libero est. Distinctio modi totam, delectus ipsa saepe obcaecati nesciunt molestiae reiciendis. Amet officia nisi saepe, autem expedita minus nobis.</p>
                  </div>
                </div>
              </div>
            </article>
            <article class="col-md-6">
              <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                  <div class="card front-flip">
                    <img class="card-img-top" src="img/service/projects.png" alt="Aplicaciones Moviles">
                    <div class="card-block">
                      <h2 class="card-title text-center">Reestructuración de Proyectos</h2>
                    </div>
                  </div>
                  <div class="card back-flip">
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus mollitia, libero est. Distinctio modi totam, delectus ipsa saepe obcaecati nesciunt molestiae reiciendis. Amet officia nisi saepe, autem expedita minus nobis.</p>
                  </div>
                </div>
              </div>
            </article>
          </section>
          <section class="row mt-3">
            <article class="col-md-6">
              <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                  <div class="card front-flip">
                    <img class="card-img-top" src="img/service/nearshore.png" alt="Aplicaciones Moviles">
                    <div class="card-block">
                      <h2 class="card-title text-center">Nearshore</h2>
                    </div>
                  </div>
                  <div class="card back-flip">
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus mollitia, libero est. Distinctio modi totam, delectus ipsa saepe obcaecati nesciunt molestiae reiciendis. Amet officia nisi saepe, autem expedita minus nobis.</p>
                  </div>
                </div>
              </div>
            </article>
            <article class="col-md-6">
              <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                  <div class="card front-flip">
                    <img class="card-img-top" src="img/service/marketing-digital.png" alt="Aplicaciones Moviles">
                    <div class="card-block">
                      <h2 class="card-title text-center">Marketing Digital</h2>
                    </div>
                  </div>
                  <div class="card back-flip">
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus mollitia, libero est. Distinctio modi totam, delectus ipsa saepe obcaecati nesciunt molestiae reiciendis. Amet officia nisi saepe, autem expedita minus nobis.</p>
                  </div>
                </div>
              </div>
            </article>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Service -->