<!-- Social Bar -->
<div class="social hidden-sm-down">
  <ul>
    <li>
      <a class="social-chat" id="btn-chat" href="javascript:void(0);">CHAT <span class="fa fa-plus"></span></a>
    </li>
    <li>
      <a class="social-testimonio" id="btn-testimonio" href="javascript:void(0);">TESTIMONIO <span class="fa fa-plus"></span></a>
    </li>
    <li class="social-icon">
      <a href="#" target="_blank" class="fa fa-instagram"></a>
    </li>
    <li class="social-icon">
      <a href="#" target="_blank" class="fa fa-facebook"></a>
    </li>
    <li class="social-icon">
      <a href="#" target="_blank" class="fa fa-whatsapp"></a>
    </li>
    <li class="social-icon">
      <a href="#" target="_blank" class="fa fa-google-plus"></a>
    </li>
  </ul>
</div>