<!-- Testimonio -->
  <div id="testimonio">
    <div id="carouselTestimonio" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="">
            <div class="row">
              <div class="col-3">
                <img src="img/socialbar/avatar-testimonios.png" class="img-fluid" alt="Perfil">
              </div>
              <div class="col-9">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ipsum praesentium facilis necessitatibus perferendis nisi, error itaque eveniet nobis earum, hic vitae sint magni! Placeat dignissimos necessitatibus unde, aliquam omnis!</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p>@FulanodeTal</p>
              </div>
              <div class="col-6">
                <img class="float-right" src="img/socialbar/estrella-azul.png" alt="star">
                <img class="float-right" src="img/socialbar/estrella-azul.png" alt="star">
                <img class="float-right" src="img/socialbar/estrella-azul.png" alt="star">
                <img class="float-right" src="img/socialbar/estrella-azul.png" alt="star">
                <img class="float-right" src="img/socialbar/estrella-gris.png" alt="star">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="">
            <div class="row">
              <div class="col-3">
                <img src="img/socialbar/avatar-testimonios.png" class="img-fluid" alt="Perfil">
              </div>
              <div class="col-9">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ipsum praesentium facilis necessitatibus perferendis nisi, error itaque eveniet nobis earum, hic vitae sint magni! Placeat dignissimos necessitatibus unde, aliquam omnis!</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p>@FulanodeTal</p>
              </div>
              <div class="col-6">
                <img class="float-right" src="img/socialbar/estrella-azul.png" alt="star">
                <img class="float-right" src="img/socialbar/estrella-azul.png" alt="star">
                <img class="float-right" src="img/socialbar/estrella-azul.png" alt="star">
                <img class="float-right" src="img/socialbar/estrella-azul.png" alt="star">
                <img class="float-right" src="img/socialbar/estrella-gris.png" alt="star">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="">
            <div class="row">
              <div class="col-3">
                <img src="img/socialbar/avatar-testimonios.png" class="img-fluid" alt="Perfil">
              </div>
              <div class="col-9">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ipsum praesentium facilis necessitatibus perferendis nisi, error itaque eveniet nobis earum, hic vitae sint magni! Placeat dignissimos necessitatibus unde, aliquam omnis!</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p>@FulanodeTal</p>
              </div>
              <div class="col-6">
                <img class="float-right" src="img/socialbar/estrella-azul.png" alt="star">
                <img class="float-right" src="img/socialbar/estrella-azul.png" alt="star">
                <img class="float-right" src="img/socialbar/estrella-azul.png" alt="star">
                <img class="float-right" src="img/socialbar/estrella-azul.png" alt="star">
                <img class="float-right" src="img/socialbar/estrella-gris.png" alt="star">
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev float-left" href="#carouselTestimonio" role="button" data-slide="prev">
        <span class="fa fa-2x fa-chevron-circle-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next float-right" href="#carouselTestimonio" role="button" data-slide="next">
        <span class="fa fa-2x fa-chevron-circle-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>