<!-- Us -->
<section id="us" class="container-fluid">
  <div class="container">
    <div class="row row-text">
      <div class="col-12 col-md-7">
        <h3 id="title-us">NOSOTROS</h3>
      </div>
      <div class="col-12 col-md-5">
        <p id="text-us" class="wow fadeInRight text-justify">En la última década México se ha convertido en un fuerte exponente en el mercado de las Tecnologías de la Información, su localización geográfica resulta estratégica para países vecinos quienes buscan estándares de calidad y buenas prácticas en servicios de desarrollo de software on shore.</p>
      </div>
    </div>
    <div class="wow fadeInUp card hidden-md-up">
      <div class="card-block center middle wrap">
        <article class="naus">
          <figure class="naus--logo">
            <img class="naus--logo--img" src="img/us/consultancy1.png" alt="Consultoria">
          </figure>
          <h1 class="naus--name">CONSULTORIA</h1>
        </article>
        <article class="naus">
          <figure class="naus--logo">
            <img class="naus--logo--img" src="img/us/development1.png" alt="Desarrollo">
          </figure>
          <h1 class="naus--name">DESARROLLO</h1>
        </article>
        <article class="naus">
          <figure class="naus--logo">
            <img class="naus--logo--img" src="img/us/outsourcing1.png" alt="Outsourcing">
          </figure>
          <h1 class="naus--name">OUTSOURCING</h1>
        </article>
      </div>
    </div>
  </div>
  <div class="background mt-3 pt-2 hidden-sm-down">
    <div class="container">
      <div class="row">
        <div class="col-md-4 wow fadeInLeft">
          <div class="row">
            <div class="col-md-4 no-padding">
              <img class="img-fluid" src="img/us/outsourcing1.png" alt="Outsourcing">
            </div>
            <div class="col-md-8">
              <h1 class="card-title text-center">OUTSOURCING</h1>
              <p class="card-text text-left">Instauramos modelos de operación WEB 3.0, off site y on shore para ofrecer servicios especializados de valor agregado a su empresa.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 wow fadeInUp">
          <div class="row">
            <div class="col-md-4 no-padding">
              <img class="img-fluid" src="img/us/development1.png" alt="Desarrollo">
            </div>
            <div class="col-md-8">
              <h1 class="card-title text-center">DESARROLLO </h1>
              <p class="card-text text-left">Desarrollamos las mejores y diferentes plataformas de software, proporcionando servicios como web 3.0 entre otros trabajando con las tecnologías más actuales del mercado.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 wow fadeInRight">
          <div class="row">
            <div class="col-md-4 no-padding">
              <img class="img-fluid" src="img/us/consultancy1.png" alt="Consultoria">
            </div>
            <div class="col-md-8">
              <h1 class="card-title text-center">CONSULTORIA</h1>
              <p class="card-text text-left">Participamos en el desarrollo de tus procesos, áreas de oportunidad y agregar valor a sus estrategias de negocio.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Us -->